# OS
.DS_Store
Thumbs.db

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
.venv/
.env
.env.local

# Java
*.class
*.jar
*.war
*.ear
/.mvn/wrapper/maven-wrapper.jar

# Node
node_modules/

# Build / logs
build/
dist/
out/
target/
*.log
.coverage
coverage/

# Editors
.vscode/
.idea/
